<div class="container" style="margin:auto;">
<h1>My Tasks</h1>
<% @tasks.each do |task| %>
<ul class="list-group">
<li class="list-group-item"><input id="checkBox" type="checkbox">  <%= link_to task.title, task_path(task.id)%> <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %></li>
</ul>
<%end%>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon glyphicon-plus
" aria-hidden="true"></span>
  <%= link_to "Add a New Task!" , task_new_path %></span>
</button>
</div>
